.searchBox{
  //width: 30%;
  display: flex;
  justify-content: flex-end;
  //background: antiquewhite;
  //padding-right: 50px;
}
.searchForm{
  width: 50%;

}
.searchButton{
  display: flex;
  justify-content: flex-end;
}
